In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers, models
from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model

2023-08-18 14:40:42.470761: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-18 14:40:42.504018: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-18 14:40:42.504622: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-08-18 14:40:43.463882: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
data = pd.read_csv('unlabelled.csv')

In [3]:
data

,Unnamed: 0,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,Federal-gov,Local-gov,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,cluster
0,27,23,134446,9,1,0,0,54,0,0,...,0,1,0,0,0,0,0,0,0,0
1,48,52,201062,7,0,0,0,18,0,0,...,0,0,0,1,0,0,0,0,0,0
2,68,46,170338,9,1,0,0,40,0,0,...,0,0,0,0,0,0,0,0,1,0
3,73,21,388946,10,0,0,0,40,0,0,...,1,0,0,0,0,0,0,0,0,0
4,82,24,83141,10,1,0,1876,40,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30505,48824,45,119199,12,0,0,0,48,0,1,...,0,0,0,0,1,0,0,0,0,3
30506,48825,31,199655,14,0,0,0,30,0,0,...,0,0,1,0,0,0,0,0,0,3
30507,48827,37,198216,12,0,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,3
30508,48830,43,255835,10,0,0,0,40,0,0,...,0,0,0,0,0,0,0,0,0,3
30509,48839,58,151910,9,0,0,0,40,0,0,...,0,0,0,0,0,0,0,0,0,3

In [4]:
data = data.drop(columns=['Unnamed: 0'])

In [5]:
data

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,Federal-gov,Local-gov,Private,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,cluster
0,23,134446,9,1,0,0,54,0,0,1,...,0,1,0,0,0,0,0,0,0,0
1,52,201062,7,0,0,0,18,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,46,170338,9,1,0,0,40,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,21,388946,10,0,0,0,40,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,24,83141,10,1,0,1876,40,0,0,1,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30505,45,119199,12,0,0,0,48,0,1,0,...,0,0,0,0,1,0,0,0,0,3
30506,31,199655,14,0,0,0,30,0,0,1,...,0,0,1,0,0,0,0,0,0,3
30507,37,198216,12,0,0,0,40,0,0,1,...,0,0,0,0,0,0,0,1,0,3
30508,43,255835,10,0,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,3
30509,58,151910,9,0,0,0,40,0,0,1,...,0,0,0,0,0,0,0,0,0,3

# Encoder training

In [6]:
train_data, val_data = train_test_split(data, test_size=0.2, random_state=42)

In [7]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the training data and transform both train and validation data
normalized_train_data = scaler.fit_transform(train_data)
normalized_val_data = scaler.transform(val_data)

# Now you can use normalized_train_data and normalized_val_data for training and validation

In [8]:
encoding_dim

NameError: name 'encoding_dim' is not defined

In [ ]:
import joblib

scaler_filename = 'scaler.pkl'
joblib.dump(scaler, scaler_filename)

In [ ]:
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam

input_dim = normalized_train_data.shape[1]  # Number of features in your data
encoding_dim = 32  # Number of nodes in the bottleneck layer

# Define the input layer
input_layer = Input(shape=(input_dim,))

# Define the encoding layers
encoder_layer1 = Dense(128, activation='relu')(input_layer)
encoder_layer2 = Dense(64, activation='relu')(encoder_layer1)
encoder_layer3 = Dense(encoding_dim, activation='relu')(encoder_layer2)

# Define the decoding layers with symmetric structure
decoder_layer1 = Dense(64, activation='relu')(encoder_layer3)
decoder_layer2 = Dense(128, activation='relu')(decoder_layer1)
decoder_layer3 = Dense(input_dim, activation='sigmoid')(decoder_layer2)

# Create the autoencoder model
autoencoder = Model(inputs=input_layer, outputs=decoder_layer3)

# Compile the model
autoencoder.compile(optimizer=Adam(lr=0.001), loss='mean_squared_error')

# Train the model with validation data and save training history
history = autoencoder.fit(normalized_train_data, normalized_train_data, epochs=200, batch_size=32, shuffle=True, validation_data=(normalized_val_data, normalized_val_data))

# Plot the validation loss
plt.plot(history.history['val_loss'], label='Validation Loss')
plt.plot(history.history['loss'], label='Training Loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.title('Validation Loss Over Epochs')
plt.legend()
plt.show()

In [ ]:
encoder = Model(inputs=input_layer, outputs=encoder_layer3)
decoder_input = Input(shape=(encoding_dim,))
decoder_layer1_decoded = autoencoder.layers[-3](decoder_input)
decoder_layer2_decoded = autoencoder.layers[-2](decoder_layer1_decoded)
decoder_layer3_decoded = autoencoder.layers[-1](decoder_layer2_decoded)
decoder = Model(inputs=decoder_input, outputs=decoder_layer3_decoded)

In [ ]:
encoder

In [ ]:
decoder

In [ ]:
autoencoder.save('my_autoencoder_model.keras')
encoder.save('my_encoder_model.keras')
decoder.save('my_decoder_model.keras')

# Encoder augementation

In [ ]:
import pandas as pd
from tensorflow.keras.models import load_model


labelled = pd.read_csv('labelled.csv')

labelled = labelled.drop(columns=['Unnamed: 0'])
labelled = labelled.drop(columns=['income'])

encoder = load_model('my_encoder_model.keras')


# Normalize the data using the same scaler you used for training
normalized_data = scaler.transform(labelled)  # Assuming 'scaler' is the scaler used for training

# Use the encoder to encode the normalized data
encoded_data = encoder.predict(normalized_data)

# Convert the encoded data to a DataFrame if needed
encoded_df = pd.DataFrame(encoded_data, columns=[f'encoded_{i}' for i in range(encoding_dim)])

# Now 'encoded_df' contains the encoded representation of your 'data'

In [ ]:
encoded_df

In [ ]:
labelled

In [ ]:
labelled = pd.read_csv('labelled.csv')

labelled_augmented = labelled.merge(encoded_df, left_index=True, right_index=True)

In [ ]:
labelled_augmented

In [ ]:
labelled_augmented.to_csv('autoencoder_augment.csv')